body {
    background-color: black;
    font-family: Monaco, monospace;
    color: white;
    text-align: center;
}

.container {
    width: 930px;
    margin: auto;
}

img {
    width: 100%;
    margin-bottom: 1rem;
}

  .text-box {
      background-color:#19171c;
      width: 100%;
  }

  .lyrics {
      padding: 1.5rem;
  }

  button {
      width: 100%;
      padding: 1rem;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      background-color: rgb(236, 236, 236);
      border: none;
      font-weight: bolder;
  }

  .footer {
      padding: 1rem;
  }

  .error {
      color: red;
      padding-top: 1rem;
      width: 60%;
      margin: auto;
  }